.example-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav-container{
    height: 100%;
  }
  mat-sidenav{
    background: yellow;
    width: 200px;
  }

  mat-sidenav, mat-sidenav-content{
    padding: 16px;
    height: 90vh;
    background-color: #B0C4DE;

  }

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }